# Configuración de la Base de Datos (Mapeada al contenedor Docker en puerto 5433)
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/taller_db

# Seguridad JWT (Valores de prueba académica)
SECRET_KEY=taller_key_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
