fastapi==0.110.0
pydantic[email]
uvicorn==0.29.0
sqlalchemy
psycopg[binary]>=3.0.0
pydantic-settings==2.2.1
python-dotenv==1.0.1
passlib==1.7.4
bcrypt==3.2.2
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
